<h1 id="collection" class="collection">Enjoy your collection...</h1>
<% allFaves.forEach((fave, index ) => { %>
    <!-- view favorites and add or edit a comment -->
    <div class="collection">
    <img src="<%= fave.carUrl %>">
    <form method="POST" action="/favorites/?_method=DELETE">
        <input hidden value="<%= fave.carUrl %>" name="carUrl" />
        <button class='delete' type="submit">delete</button>
    </form>
    <form method="POST" action="/comments">
        <input hidden value="<%= fave.id %>" name="id" />
        <input  type="text" name="comment" />
        <button type="submit">comment</button>
    </form>

    <% if(fave.comment !== null){%>

        <p><%= fave.comment.comment %></p>

    <a href="/comments/<%= fave.comment.id %>/edit">edit</a>
    </div>
    <%}%>
<% }) %>
