<h2>User Profile</h2>
<h3>Thanks for being a user, <%= user.email %>! 🎉</h3>

<form action="/users/profile" method="PUT">

	<button type="submit">Show Cars!</button>
</form>

<img src="<%= i %>">
<form method="POST" action="/favorites">
    <input hidden value="<%= i %>" name='carUrl' />
    <button type='submit'>Favorite</button>
</form>











<img src="<%= i2 %>">
<form method="POST" action="/favorites">
    <input hidden value="<%= i2 %>" name='carUrl' />
    <button type='submit'>Favorite</button>
</form>



<img src="<%= i3 %> ">
<form method="POST" action="/favorites">
    <input hidden value="<%= i3 %>" name='carUrl' />
    <button type='submit'>Favorite</button>

</form>
